## This is an exercise and practice notebook taken from an online course mlcourse.ai by Yury Kashnitskyy
<center>
<img src="https://habrastorage.org/webt/ia/m9/zk/iam9zkyzqebnf_okxipihkgjwnw.jpeg">
    
## [mlcourse.ai](mlcourse.ai) â€“ Open Machine Learning Course 

Author: [Yury Kashnitskyy](http://yorko.github.io) Translated and edited by [Sergey Isaev](https://www.linkedin.com/in/isvforall/), [Artem Trunov](https://www.linkedin.com/in/datamove/), [Anastasia Manokhina](https://www.linkedin.com/in/anastasiamanokhina/), and [Yuanyuan Pao](https://www.linkedin.com/in/yuanyuanpao/). This material is subject to the terms and conditions of the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. Free use is permitted for any non-commercial purpose.

## <center>  Exploratory data analysis with Pandas

Dataset that we gonna use in this notebook is Adult dataset

In [1]:
DATA_PATH = r'Data'
file_name = 'adult.data.csv'

In [2]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import os

In [3]:
data = pd.read_csv(os.path.join(DATA_PATH, file_name))
data.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [4]:
print('Types of features in the dataset:',data.dtypes)

Types of features in the dataset: age                 int64
workclass          object
fnlwgt              int64
education          object
educational-num     int64
marital-status     object
occupation         object
relationship       object
race               object
gender             object
capital-gain        int64
capital-loss        int64
hours-per-week      int64
native-country     object
income             object
dtype: object

In [5]:
for i in data.columns:
    print('%s: %s'%(i, data[i].unique()) \
             if not any(j in str(data[i].dtype) for j in ['int', 'float']) else i +':' + 'continuous')
    print()

age:continuous

workclass: ['Private' 'Local-gov' '?' 'Self-emp-not-inc' 'Federal-gov' 'State-gov'
 'Self-emp-inc' 'Without-pay' 'Never-worked']

fnlwgt:continuous

education: ['11th' 'HS-grad' 'Assoc-acdm' 'Some-college' '10th' 'Prof-school'
 '7th-8th' 'Bachelors' 'Masters' 'Doctorate' '5th-6th' 'Assoc-voc' '9th'
 '12th' '1st-4th' 'Preschool']

educational-num:continuous

marital-status: ['Never-married' 'Married-civ-spouse' 'Widowed' 'Divorced' 'Separated'
 'Married-spouse-absent' 'Married-AF-spouse']

occupation: ['Machine-op-inspct' 'Farming-fishing' 'Protective-serv' '?'
 'Other-service' 'Prof-specialty' 'Craft-repair' 'Adm-clerical'
 'Exec-managerial' 'Tech-support' 'Sales' 'Priv-house-serv'
 'Transport-moving' 'Handlers-cleaners' 'Armed-Forces']

relationship: ['Own-child' 'Husband' 'Not-in-family' 'Unmarried' 'Wife' 'Other-relative']

race: ['Black' 'White' 'Asian-Pac-Islander' 'Other' 'Amer-Indian-Eskimo']

gender: ['Male' 'Female']

capital-gain:continuous

capital-loss:continuous

hours-per-week:continuous

native-country: ['United-States' '?' 'Peru' 'Guatemala' 'Mexico' 'Dominican-Republic'
 'Ireland' 'Germany' 'Philippines' 'Thailand' 'Haiti' 'El-Salvador'
 'Puerto-Rico' 'Vietnam' 'South' 'Columbia' 'Japan' 'India' 'Cambodia'
 'Poland' 'Laos' 'England' 'Cuba' 'Taiwan' 'Italy' 'Canada' 'Portugal'
 'China' 'Nicaragua' 'Honduras' 'Iran' 'Scotland' 'Jamaica' 'Ecuador'
 'Yugoslavia' 'Hungary' 'Hong' 'Greece' 'Trinadad&Tobago'
 'Outlying-US(Guam-USVI-etc)' 'France' 'Holand-Netherlands']

income: ['<=50K' '>50K']

In [6]:
display(data.info())
print('# Nulls in Features:')
display(data.isnull().sum(axis=0))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        48842 non-null  object
 2   fnlwgt           48842 non-null  int64
 3   education        48842 non-null  object
 4   educational-num  48842 non-null  int64
 5   marital-status   48842 non-null  object
 6   occupation       48842 non-null  object
 7   relationship     48842 non-null  object
 8   race             48842 non-null  object
 9   gender           48842 non-null  object
 10  capital-gain     48842 non-null  int64
 11  capital-loss     48842 non-null  int64
 12  hours-per-week   48842 non-null  int64
 13  native-country   48842 non-null  object
 14  income           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

None

# Nulls in Features:

age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
income             0
dtype: int64

In [7]:
data.describe()

,age,fnlwgt,educational-num,capital-gain,capital-loss,hours-per-week
count,48842.000000,4.884200e+04,48842.000000,48842.000000,48842.000000,48842.000000
mean,38.643585,1.896641e+05,10.078089,1079.067626,87.502314,40.422382
std,13.710510,1.056040e+05,2.570973,7452.019058,403.004552,12.391444
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.175505e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.781445e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.376420e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.490400e+06,16.000000,99999.000000,4356.000000,99.000000

**1. How many men and women (*sex* feature) are represented in this dataset?**

In [8]:
data['gender'].value_counts()

Male      32650
Female    16192
Name: gender, dtype: int64

In [9]:
data.groupby(by=['gender'])['gender'].count().sort_values(ascending=False)

gender
Male      32650
Female    16192
Name: gender, dtype: int64

**2. What is the average age (*age* feature) of women?**

In [10]:
data.loc[data['gender'].str.lower().str.strip().str.match('female|women|woman'), 'age'].mean()

36.92798913043478

**3. What is the proportion of German citizens (*native-country* feature)?**

In [11]:
data['native-country'].unique()

array(['United-States', '?', 'Peru', 'Guatemala', 'Mexico',
       'Dominican-Republic', 'Ireland', 'Germany', 'Philippines',
       'Thailand', 'Haiti', 'El-Salvador', 'Puerto-Rico', 'Vietnam',
       'South', 'Columbia', 'Japan', 'India', 'Cambodia', 'Poland',
       'Laos', 'England', 'Cuba', 'Taiwan', 'Italy', 'Canada', 'Portugal',
       'China', 'Nicaragua', 'Honduras', 'Iran', 'Scotland', 'Jamaica',
       'Ecuador', 'Yugoslavia', 'Hungary', 'Hong', 'Greece',
       'Trinadad&Tobago', 'Outlying-US(Guam-USVI-etc)', 'France',
       'Holand-Netherlands'], dtype=object)

In [12]:
data['native-country'].str.lower().str.contains('germ.+').sum()

206

In [13]:
data['native-country'].str.lower().str.contains('germ.+').sum() / data.shape[0]

0.00421768150362393

** 4. What are mean value and standard deviation of the age of those who recieve more than 50K per year (*salary* feature) and those who receive less than 50K per year? **

In [15]:
ages_upperIncome = data.loc[data['income']=='>50K', 'age']
ages_lowerIncome = data.loc[data['income']=='<=50K', 'age']

print('Upper Income Adults has the average age of %.2f +- %.2f years'%(ages_upperIncome.mean(), ages_upperIncome.std()))

Upper Income Adults has the average age of 44.28 +- 10.56 years

**6. Is it true that people who receive more than 50k have at least high school education? (education - Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters or Doctorate feature)**

In [129]:
data.loc[data['income'] == '>50K', 'education'].value_counts() # No

Bachelors       3313
HS-grad         2503
Some-college    2063
Masters         1459
Prof-school      617
Assoc-voc        522
Doctorate        431
Assoc-acdm       413
11th              92
10th              87
7th-8th           62
12th              48
9th               41
5th-6th           27
1st-4th            8
Preschool          1
Name: education, dtype: int64

**7. Display statistics of age for each race (*race* feature) and each gender. Use *groupby()* and *describe()*. Find the maximum age of men of *Amer-Indian-Eskimo* race.**

In [131]:
data.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'educational-num',
       'marital-status', 'occupation', 'relationship', 'race', 'gender',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

In [150]:
for (race, sex), subdf in data.groupby(['race', 'gender']):
    print('Race: {0}\tSex: {1}'.format(race, sex))
    print(subdf['age'].describe())

Race: Amer-Indian-Eskimo	Sex: Female
count    185.000000
mean      36.237838
std       12.840056
min       17.000000
25%       26.000000
50%       35.000000
75%       46.000000
max       80.000000
Name: age, dtype: float64
Race: Amer-Indian-Eskimo	Sex: Male
count    285.000000
mean      36.989474
std       11.703943
min       17.000000
25%       29.000000
50%       35.000000
75%       44.000000
max       82.000000
Name: age, dtype: float64
Race: Asian-Pac-Islander	Sex: Female
count    517.000000
mean      35.657640
std       12.637799
min       17.000000
25%       25.000000
50%       34.000000
75%       44.000000
max       81.000000
Name: age, dtype: float64
Race: Asian-Pac-Islander	Sex: Male
count    1002.000000
mean       38.994012
std        12.824878
min        18.000000
25%        29.000000
50%        37.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Race: Black	Sex: Female
count    2308.000000
mean       37.905979
std        12.736001
min        17.000000
25%        28.000000
50%        36.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Race: Black	Sex: Male
count    2377.000000
mean       37.922592
std        13.036981
min        17.000000
25%        28.000000
50%        36.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Race: Other	Sex: Female
count    155.000000
mean      31.212903
std       11.233061
min       17.000000
25%       23.000000
50%       29.000000
75%       37.000000
max       74.000000
Name: age, dtype: float64
Race: Other	Sex: Male
count    251.000000
mean      35.167331
std       11.808297
min       17.000000
25%       26.000000
50%       32.000000
75%       42.500000
max       77.000000
Name: age, dtype: float64
Race: White	Sex: Female
count    13027.000000
mean        36.882935
std         14.454178
min         17.000000
25%         25.000000
50%         35.000000
75%         47.000000
max         90.000000
Name: age, dtype: float64
Race: White	Sex: Male
count    28735.000000
mean        39.704507
std         13.475250
min         17.000000
25%         29.000000
50%         38.000000
75%         49.000000
max         90.000000
Name: age, dtype: float64

In [132]:
data.groupby(['race', 'gender'])['age'].describe()

                             count       mean        std   min   25%   50%  \
race               gender
Amer-Indian-Eskimo Female    185.0  36.237838  12.840056  17.0  26.0  35.0
                   Male      285.0  36.989474  11.703943  17.0  29.0  35.0
Asian-Pac-Islander Female    517.0  35.657640  12.637799  17.0  25.0  34.0
                   Male     1002.0  38.994012  12.824878  18.0  29.0  37.0
Black              Female   2308.0  37.905979  12.736001  17.0  28.0  36.0
                   Male     2377.0  37.922592  13.036981  17.0  28.0  36.0
Other              Female    155.0  31.212903  11.233061  17.0  23.0  29.0
                   Male      251.0  35.167331  11.808297  17.0  26.0  32.0
White              Female  13027.0  36.882935  14.454178  17.0  25.0  35.0
                   Male    28735.0  39.704507  13.475250  17.0  29.0  38.0

                            75%   max
race               gender
Amer-Indian-Eskimo Female  46.0  80.0
                   Male    44.0  82.0
Asian-Pac-Islander Female  44.0  81.0
                   Male    46.0  90.0
Black              Female  46.0  90.0
                   Male    46.0  90.0
Other              Female  37.0  74.0
                   Male    42.5  77.0
White              Female  47.0  90.0
                   Male    49.0  90.0

**8. Among whom the proportion of those who earn a lot(>50K) is more: among married or single men (marital-status feature)? Consider married those who have a marital-status starting with Married (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.**

In [39]:
data.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [74]:
import re
def mapping(data):
    return 'Married' if re.compile('^[M|m]arried.*').match(data) else 'Bachelors'

In [82]:
#counts of males with >50k by marital status
data[(data['income']=='>50K') & (data['gender']=='Male')]['marital-status'].map(mapping).value_counts()

Married      8917
Bachelors    1001
Name: marital-status, dtype: int64

In [85]:
#proportion
data[(data['income'] == '>50K')
     & (data['gender'] == 'Male')]['marital-status'].map(mapping).value_counts(
     ) / data[(data['income'] == '>50K')
              & (data['gender'] == 'Male')]['marital-status'].shape[0]

Married      0.899072
Bachelors    0.100928
Name: marital-status, dtype: float64

**9. What is the maximum number of hours a person works per week (hours-per-week feature)? How many people work such a number of hours and what is the percentage of those who earn a lot among them?**

In [101]:
max_workingHours = data['hours-per-week'].max()
print('Max:%.2f hours'%(max_workingHours))
people_maxHours = (data['hours-per-week']==max_workingHours).sum()
print('There are %d people working for %f a week'%(people_maxHours, max_workingHours))
highEarning_proportion = data[data['hours-per-week']==max_workingHours]['income'].value_counts() / people_maxHours
print('Proportion by salary income among those who work for highest number of hours per week in the dataset\n' + str(highEarning_proportion))

Max:99.00 hours
There are 137 people working for 99.000000 a week
Proportion by salary income among those who work for highest number of hours per week in the dataset
<=50K    0.70073
>50K     0.29927
Name: income, dtype: float64

**10. Count the average time of work (hours-per-week) those who earning a little and a lot (salary) for each country (native-country)**

In [102]:
data.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [131]:
for (country, income), subdf in data.groupby(by=['native-country', 'income']):
    print(country, income, ':', round(subdf['hours-per-week'].mean(), 2))

? <=50K : 39.55
? >50K : 45.32
Cambodia <=50K : 41.16
Cambodia >50K : 43.89
Canada <=50K : 37.38
Canada >50K : 46.13
China <=50K : 36.69
China >50K : 42.03
Columbia <=50K : 39.12
Columbia >50K : 56.25
Cuba <=50K : 39.2
Cuba >50K : 42.85
Dominican-Republic <=50K : 41.56
Dominican-Republic >50K : 42.8
Ecuador <=50K : 37.95
Ecuador >50K : 47.83
El-Salvador <=50K : 35.82
El-Salvador >50K : 43.45
England <=50K : 39.38
England >50K : 46.3
France <=50K : 40.09
France >50K : 46.5
Germany <=50K : 38.9
Germany >50K : 45.71
Greece <=50K : 41.87
Greece >50K : 55.56
Guatemala <=50K : 38.79
Guatemala >50K : 36.67
Haiti <=50K : 36.41
Haiti >50K : 40.67
Holand-Netherlands <=50K : 40.0
Honduras <=50K : 34.06
Honduras >50K : 50.0
Hong <=50K : 39.0
Hong >50K : 43.75
Hungary <=50K : 34.08
Hungary >50K : 46.33
India <=50K : 38.04
India >50K : 46.27
Iran <=50K : 39.97
Iran >50K : 47.95
Ireland <=50K : 41.27
Ireland >50K : 45.18
Italy <=50K : 38.69
Italy >50K : 45.65
Jamaica <=50K : 38.63
Jamaica >50K : 42.4
Japan <=50K : 39.73
Japan >50K : 47.06
Laos <=50K : 39.33
Laos >50K : 40.0
Mexico <=50K : 39.93
Mexico >50K : 45.64
Nicaragua <=50K : 36.85
Nicaragua >50K : 38.33
Outlying-US(Guam-USVI-etc) <=50K : 41.41
Outlying-US(Guam-USVI-etc) >50K : 40.0
Peru <=50K : 36.21
Peru >50K : 40.0
Philippines <=50K : 38.01
Philippines >50K : 43.59
Poland <=50K : 37.23
Poland >50K : 39.59
Portugal <=50K : 41.25
Portugal >50K : 46.75
Puerto-Rico <=50K : 38.91
Puerto-Rico >50K : 39.9
Scotland <=50K : 40.83
Scotland >50K : 46.67
South <=50K : 41.05
South >50K : 51.4
Taiwan <=50K : 35.31
Taiwan >50K : 45.54
Thailand <=50K : 43.04
Thailand >50K : 53.0
Trinadad&Tobago <=50K : 38.8
Trinadad&Tobago >50K : 40.0
United-States <=50K : 38.82
United-States >50K : 45.47
Vietnam <=50K : 37.85
Vietnam >50K : 39.43
Yugoslavia <=50K : 38.53
Yugoslavia >50K : 43.38